<template lang="html">
  <div class="updates-area">
      <div class="wrapper">
        <input type="checkbox" id="menuToggler" class="input-toggler" value="1" autofocus="true"/>
        <label for="menuToggler" id="menuTogglerLabel" class="menu-toggler" role="button" aria-pressed="false" aria-expanded="false" aria-label="Navigation button">
          <span class="menu-toggler__line"></span>
          <span class="menu-toggler__line"></span>
          <span class="menu-toggler__line"></span>
        </label>
        <nav id="sidebar" class="sidebar" role="navigation" aria-labelledby="menuTogglerLabel" aria-hidden="true">
          <ul id="menubar" class="menu" role="menubar" aria-orientation="vertical">
            <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Blog</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Portfolio</a></li>
            <li class="menu__item"><a class="menu__link" href="#">About</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
          </ul>
        </nav>
        <main class="content">
          <medium-editor :text='note.text' @keydown="detectAdd(event)" :options='options'
            v-on:edit='processEditOperation' custom-tag='div' style="height: 300px; padding: 30px;"
          ></medium-editor>
          
          </main>
      </div>
      <a class="sb-link" href="//silvestar.codes/articles/css-sidebar-toggle/">silvestar.codes</a>
  </div>
</template>

<script type="text/javascript">
import editor from 'vue2-medium-editor';

export default {
  data() {
    return  {
      title: 'pinboard',
      user: {},
      note: {
        text: '',
        date: ''
      },
      params: {
        client_id: ''
      },
      renderParams: {
        width: 425,
        height: 100,
        longtitle: true,
      },
      options: {},
      notes: [],
      deletedNotes: [],
      weekday: [
        "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
      ],
      months: [
        "Jan", "Feb", "Mar", "APR", "MAY", "JUN", "JULY", "AUG", "SEPT", "OCT", "NOV", "DEC"
      ],
      editing: 'none',
      error: null,
      loginPopup: false,
    }
  },
  components: {
    'medium-editor': editor

  },
  methods: {
      onSuccess(googleUser) {
        this.user = googleUser.getBasicProfile();
        localStorage.setItem('googleUser', JSON.stringify(googleUser.getBasicProfile()));
        this.loginPopup = false;
        this.error = false;
      },
      onFailure() {
        this.error = true;
      },
      logout() {
        this.loginPopup = false;
        this.user = {};
      },
      compiledMarkdown(text) {
        return marked(text, { sanitize: true });
      },
      editNote(index) {
        this.note = this.notes[index];
        // this.removeNote(index);
        this.editing = index;
      },
      detectAdd() {
        if (event.ctrlKey && event.keyCode == 13) {
          this.addNote();
        }
      },
      addNote() {
          let {
              text, title, color
          } = this.note

          let now = {
            weekday: new Date().getDay(),
            day: new Date().getDate(),
            month: new Date().getMonth(),
            year: new Date().getFullYear(),
            hour: new Date().getHours(),
            minute: new Date().getMinutes(),
            seconds: new Date().getSeconds(),
          };

          if (this.editing != 'none') {
            this.$delete(this.notes, this.editing)
          }

          this.notes.unshift({
            text,
            date: now,
          })

          this.note.text = ''
          this.editing = 'none';
      },
      removeNote(index) {
          this.deletedNotes.unshift(this.notes[index])
          this.$delete(this.notes, index)
      },
      formatTime(date) {
        return date.hour + ':' + (date.minute > 10 ? date.minute : '0'+date.minute) + ':' + date.seconds
      },
      processEditOperation: function (operation) {
        this.note.text = operation.api.origElements.innerHTML
      },
      formatAsPlainText(str) {
        str = this.compiledMarkdown(str);
        str = str.replace(/\n|\t/g, ' ');
        str = str.replace(/<br>/gi, "\n");
        str = str.replace(/<p>/gi, "\n");
        str = str.replace(/<\/p>/gi, "\n");
        str = str.replace(/<a.*href="(.*?)".*>(.*?)<\/a>/gi, " $2 (Link->$1) ");
        str = str.replace(/<(?:.|\s)*?>/g, "");
        str = str.replace(/<[^>]*>/g, '');
        str = str.replace(/(<([^>]+)>)/ig,"");
        str = str.replace(/\s\s+/g, ' ');

        return str.substring(0, 30);
      },
      restore(key) {
        this.notes.unshift(this.deletedNotes[key]);
        this.$delete(this.deletedNotes, key);
      },
      deleteForever(key) {
        this.$delete(this.deletedNotes, key);
      },
      popup() {
          this.loginPopup = !this.loginPopup;
      }

  },
  mounted() {

    let menuToggler = document.getElementById('menuToggler')
    let menuTogglerLabel = document.getElementById('menuTogglerLabel');
    let sidebar = document.getElementById('sidebar');
    let menuItems = document.getElementsByClassName('menu__link');

    menuToggler.addEventListener('change', function() {
      if(menuToggler.checked) {
        menuTogglerLabel.setAttribute('aria-pressed', 'true');
        sidebar.setAttribute('aria-hidden', 'false');
      } else {
        menuTogglerLabel.setAttribute('aria-pressed', 'false');
        sidebar.setAttribute('aria-hidden', 'true');
      }

      for(let menuItem of menuItems) {
        if(menuToggler.checked) {
          menuItem.setAttribute('tabindex', '0');
        } else {
          menuItem.setAttribute('tabindex', '-1');
        }
      }
    });
  }
}
</script>


<style lang="css" scoped>
</style>
