@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: "Lato";
  /* font: 14px/1.6'Avenir', Helvetica, Arial, sans-serif; */
  background-color: #f5f5f5!important;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
  background-size: cover;
  height: 100vh;
}
i {
  font-size: 12px;
  clear: both;
  font-style: normal;
  display: block;
}
h2 {
  margin: 10px
}
.content-area {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  height: 100vh;
  justify-content: flex-start;
  align-content: flex-start;
}
.content-area > * {
  border-radius: 2px;
  transition: all ease 0.3s;
  font-family: "Lato";
}
.content-area>div {
  position: relative;
  width: auto;
  max-width: 350px;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
}
.text{
  white-space: pre-wrap;
  flex-wrap: nowrap;
  padding: 15px 10px;
}

textarea {
  display: block;
  width: 95%;
  padding: 8px;
  margin: 10px;
  background: transparent;
  border: none;
  resize: none;
  min-height: 300px;
  height: auto;
  max-height: 500px;
  height: 100%;
  margin-top: 15px;
  font-family: "Lato";
  margin-top: 25px;
  @media(max-width: 1191px) {
    min-height: 200px !important;
  }
}

#pin-list {
  position: absolute; top:50%; padding-left: 25px; width: 90%; height: 200px; z-index:15; overflow-y: auto;
  @media(max-width: 1191px) {
    top: 45%;
  }
}
textarea:focus {
  border-color: black;
}
button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.button {
  display: block;
  box-sizing: content-box;
  padding: 8px;
  margin: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  clear: both;
}
.button:hover {
  background-color: black;
  color: white;
  border-color: black;
}
.top {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.close, .edit-note {
  text-align: right;
  position: absolute;
  box-sizing: border-box;
  line-height: 10px;
  display: inline-block;
  top: 30px;
  z-index: 10;
  right: 30px;
  position: absolute;
  width: 15px;
  cursor: pointer;
  display: none;
}
.edit-note {
  right: 60px;
}
figure:hover .close, figure:hover .edit-note {
  display: block;
}
.close:before, .close:after {
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
  display: block;
  height: 2px;
  width: 10px;
  background-color: black;
  transition: all 0.25s ease-out;
}
.close:after {
  transform: rotate(-135deg);
}
.close:hover:before, .close:hover:after {
  transform: rotate(0deg);
}

.card-box{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 6px 30px rgba(0,0,0,.1);
  margin-top: 0;
  padding: 25px 35px;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}
figure {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 380px;
  height: auto;
  min-height: 200px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  margin: 15px;


  &.textarea {
    box-shadow: none;
    margin: 0;
    max-height: 100vh !important;
    height: 100%;
    padding-top: 0 !important;
    &:before {
      content: '';
      background-color: #fff;
      z-index: 0;
    }
  }
}
figure:before, figure:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure:before {
  content: '';
  background-color: #fff;
  z-index: 0;
}
figure:after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:hover .date {
  bottom: -59px;
}
figure .date {
  position: absolute;
  bottom: 0;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: #212529;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 10;
  text-transform: uppercase;
}
figure .date.time {
  right: 78px;
  background-color: #fff !important;
  padding: 0 5px;
}

figure .date span {
  color: white;
  line-height: 1;
}
figure .date span:first-child {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 20px;
  font-weight: 900;
}
figure .date span:last-child {
  font-size: 14px;
  font-weight: 400;
}
figure figcaption {
  color: #000;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
  padding-bottom: 45px;
}
.content {
  width: 330px;
  max-height: 600px;
  height: auto;
  overflow: hidden;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 18vh;
}
.google-btn {
  position: fixed; bottom: 120px;left: 15px; cursor: pointer; z-index: 8;
  &.Paper {
    bottom: 45px;
    left: 30px;
  }
  @media(max-width: 1191px) {
    bottom: 90px;
  }
}
.content:hover {
  overflow-y: scroll;
}
figure figcaption h4 {
  margin: 0 0 5px;
  font-size: 24px;
  line-height: 1.35;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
figure figcaption h4 > span {
  background-color: rgba(241, 196, 15, 0.8);
}
figure figcaption p {
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-x: auto;
  word-break: break-word;
}
.btn.draw-border {
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
  line-height: 1.5;
  padding: 5px 1em;
  float: right;
  font-size: 24px;
  width: auto;
  color: #000;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 10;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #eee;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #eee;
}

*::-webkit-scrollbar-thumb
{
	background-color: #717880;
}


.md-show {
	visibility: visible;
}


.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
	background-color: #e4f0e3;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.popup-info {
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 60px;
}
.google-signin-button {
  color: white;
  background-color: red;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 20px 25px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.abcRioButtonIcon {
  padding: 20px !important;
  font-family: 'Lato' !important;
  svg {
    height: 60px;
    width: 60px;
  }
}
.abcRioButtonContents {
  font-family: 'Lato' !important;
  font-size: 30px !important;
  padding-left: 15px;
}
.error {
  color: red;
}

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.logout-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: $white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}





.more-button {
  display: inline-block;
  // background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 45px;
  right: 45px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 9;
  font-size: 2em;
  line-height: 50px;
  color: #fff !important;
  font-weight: 700;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  &.paper {
    opacity: 0;
  }
  .text {
    display: none;
    color: #000;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    margin-left: -45px;
  }
  &.new-paper {
    img {
      width: 60px;
      vertical-align: text-bottom;
    }
  }
  &.paper {
    // bottom: 60px;
    // background: #f5f5f5;
    img {
      width: 60px;
      vertical-align: text-bottom;
    }
  }
  &.pins {
    // bottom: 150px;
    // background: #f5f5f5;
    img {
      width: 60px;
      vertical-align: text-bottom;
    }
  }
}

.transform:hover {
  transform: scale(1.5, 1.5);
}

.more-button {
  &.paper:hover {
    opacity: 1;
    background: none;
  }
}
.more-button:hover {
  img {
    transform: scale(1.5, 1.5) translateX(-0.5em);
  }
  .text {
    // display: inline-block;
  }
}
