@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    @each $property in $properties {
        #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
        @each $property in $properties {
            #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
        }
    }

    @media screen and (min-width: $max-vw) {
        @each $property in $properties {
            #{$property}: $max-value;
        }
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@function em($pixels, $context: $default-font-size) {
    @return #{$pixels/$context}em;
}

// variablesy
:root {
  --sidebar-width: 100%;
  --toggler-size: 30px;
  --toggler-line-number: 3;
  --toggler-line-size: calc(var(--toggler-size) / (var(--toggler-line-number) + var(--toggler-line-number) - 1));
  --toggler-offset-left: 10px;
  --toggler-offset-top: 10px;
  --toggler-color: Tomato;
  --toggler-color-hover: Wheat;
}

// same as var(--toggler-line-number)
$total: 3;

// styling
html {
  @include fluid-type(font-size, 20em, 75em, .8rem, 1.2rem);
}

.updates-area {

  .wrapper {
    min-width: 100vw;
    // background: AliceBlue;
    background-color: #f5f5f5!important;
    display: flex;
  }
  .head-text-area {
    p {
      font-size: 45px;
    }
  }

  .content-text-area {
    width: 50%;
    margin: 30px auto;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #6c767a;
    height: 100%;
    line-height: 1.9;

    p {
      font-size: 24px;
    }
  }
  .head-text-area {
    width: 50%;
    margin: 15px auto;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: #6c767a;
    height: 100px;
    line-height: 1.9;
  }
  .time {
    color: #6c767a;
    top: 0;
    float: left;
    width: 50%;
    text-transform: uppercase;
    font-size: 4vh;
    height: 90px;
    font-family: monospace;
  }
  .sidebar,
  .content-updates {
    transition: all .25s ease-out;
  }

  .sidebar {
    width: var(--sidebar-width);
    transform: translateX(calc(var(--sidebar-width) * -1));
    background: linear-gradient(to bottom right, Tomato, Wheat);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    opacity: .5;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .content-updates {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10vh;
  }

  .menu {
    list-style-type: none;
  }

  #menubar {
    padding-top: 3vh;
  }
  .menu__link {
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: 8vmin;
    line-height: 10vmin;
    transition: all .25s ease-out;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: Gold;
    }
  }
  .menu-date {
    color: #fff;
    font-family: monospace;
    font-size: 24px;
  }

  .menu-toggler {
    border-radius: calc(var(--toggler-line-size) / 2);
    display: block;
    width: var(--toggler-size);
    height: var(--toggler-size);
    position: fixed;
    top: var(--toggler-offset-top);
    left: var(--toggler-offset-left);
    cursor: pointer;
    z-index: 20;
    margin-top: 30px;
    margin-left: 15px;
  }

  .menu-toggler__line {
    height: var(--toggler-line-size);
    background: #212529;
    position: absolute;
    border-radius: calc(var(--toggler-line-size) / 2);
    left: 0;
    right: 0;
    transition: all .25s ease-out;

    $num: 1;

    @while $num <= $total {
      &:nth-child(#{$num}) {
        top: calc(var(--toggler-line-size) * #{$num} + (var(--toggler-line-size) * (#{$num} - 2)));
      }

      $num: $num + 1;
    }
  }

  .input-toggler {
    position: absolute;
    left: -100%;

    &:focus ~ .menu-toggler {
      outline: 1px dotted;
    }

    &:checked ~ .menu-toggler {
      .menu-toggler__line:not(:first-child):not(:last-child) {
        opacity: 0;
      }

      .menu-toggler__line:first-child,
      .menu-toggler__line:last-child {
        background-color: var(--toggler-color-hover);
      }

      .menu-toggler__line:first-child {
        transform: translateY(calc(var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(45deg);
      }

      .menu-toggler__line:last-child {
        transform: translateY(calc(-1 * var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(-45deg);
      }
    }

    &:checked ~ .sidebar {
      transform: translateX(0);
      opacity: .98;
    }
  }


  // sig
  .wrapper {
    height: calc(100vh - 50px);
    padding-top: 15px;
  }

  .sb-link {
    display: flex;
    height: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #bb5555;
    transition: background .3s;
  }

  .sb-link:hover,
  .sb-link:focus,
  .sb-link:active {
    background: #f7f7f7;

  }
  #list-papers span {
    font-weight: 300;
  }

  ul#list-papers {
    position: fixed;
    width: 20%;
    // list-style: ;
    margin-top: 15vh;
    opacity: .2;
    overflow: hidden;
    height: 600px;
    padding-left: 45px;
  }
  ul#list-papers:hover {
    opacity: 1;
    overflow-y: auto;
  }

  ul#list-papers li {
    margin-bottom: 15px;
    // padding: 10px 15px 10px 25px;
    // cursor: pointer;
    // height: auto;
    // max-height: 120px;
    // min-height: 75px;
    &.title {
      list-style: none;
    }
    img {
      padding-top: 5px;
    }
  }

  #list-papers .active {
    // background: #f69576;
    color: #fff;
    transition: .15s;
  }

  #list-papers .inactive {
    // background: #efefef;
  }

}
.medium-editor-toolbar {
  background: #fff !important;
}


.toggle {
   display: none;

   .toggle-switch {
       border: 2px solid #fff;
       border-radius: 2rem;
       cursor: pointer;
       display: inline-block;
       height: 1.5rem;
       margin: 0 0.5rem;
       outline: 0;
       position: relative;
       padding: 0.15rem;
       transition: all 0.2s ease;
       user-select: none;
       width: 3rem;

       &:before,
       &:after {
           content: "";
           display: block;
           height: 100%;
           position: relative;
           width: 50%;
       }

       &:after {
           background: #fff;
           left: 0;
           transition: all 0.2s ease;
           content: "";
           border-radius: 1rem;
       }

       &:before {
           display: none;
       }
   }

   &:checked + .toggle-switch {
       &:after {
           left: 50%;
       }
   }

   &:checked + .toggle-switch:after {
       left: 50%;
   }
}


#clock {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
