<template lang="html">
  <div class="updates-area">
    <div class="wrapper">
      <input type="checkbox" id="menuToggler" class="input-toggler" value="1" autofocus="true"/>
      <label for="menuToggler" id="menuTogglerLabel" class="menu-toggler" role="button" aria-pressed="false" aria-expanded="false" aria-label="Navigation button">
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
      </label>
      <nav id="sidebar" class="sidebar" role="navigation" aria-labelledby="menuTogglerLabel" aria-hidden="true">
        <ul id="menubar" class="menu" role="menubar" aria-orientation="vertical">
          <li class="menu__item" v-if="thought.text" style="width: 80%; margin: 15px auto;">
            <div class="menu__link">{{thought.text}}</div>
            <br>
            <h5 class="menu-date">- {{thought.author}}</h5>
          </li>
        </ul>
      </nav>
      <ul id="list-papers" v-if="papers.length">
        <li class="title">
          <span>Recent</span>
        </li>
        <li :class="isActive(paperKey)" v-for="(paper, paperKey) in papers" v-if="paper.title" >
          {{formatAsPlainText(paper.title)}}
           <!-- <br> <span>{{paper.date}}</span> -->
          <template v-if="editing != paperKey">
            <img src="./../../../static/img/close.svg" @click="removePaper(paperKey);" title="Delete forever!" width="15" style="float: right; cursor: pointer; margin-right: 10px;" alt="">
            <img src="./../../../static/img/edit.svg" @click="editPaper(paperKey);" title="Delete forever!" width="15" style="float: right; cursor: pointer; margin-right: 10px;" alt="">
            <img src="./../../../static/img/trash.svg" @click="deleteForever(paperKey);" title="Delete forever!" width="15" style="float: right; cursor: pointer; margin-right: 10px;" alt="">
            <img src="./../../../static/img/restore.svg" @click="restore(paperKey);" width="15" title="Restore" style="float: right; cursor: pointer; margin-right: 10px;" alt="">
          </template>
        </li>
      </ul>
      <main class="content-updates">
        <h1 class="time">
          <span v-text="time"></span>
          <img src="./../../../static/img/plus.svg" class="transform" width="34" style="float:right; cursor: pointer; margin-right: 25px;" @click="newPaper()" title="New!">
          <img src="./../../../static/img/save-outline.svg" class="transform" width="34" style="float:right; cursor: pointer; margin-right: 25px;" @click="addPaper()" title="Save!">
          <img src="./../../../static/img/bin.svg" class="transform" width="34" style="float:right; cursor: pointer; margin-right: 25px;" @click="trash()" title="Trash!">
        </h1>
        <medium-editor :text='paper.title' @keydown="detectAdd(event)" :options='titleOptions' class="head-text-area"
        v-on:edit='processEditHeadOperation' custom-tag='h1'
        ></medium-editor>

        <medium-editor :text='paper.text' @keydown="detectAdd(event)" :options='contentOptions' class="content-text-area"
        @editorCreated="handleContentEditorCreated"
        v-on:edit='processEditTextOperation' custom-tag='div'
        ></medium-editor>
      </main>
    </div>
  </div>
</template>

<script type="text/javascript">
  import editor from 'vue2-medium-editor';
  import * as quotes from './../../../static/json/quotes.js';


  export default {
    data() {
      return  {
        title: 'pinboard',
        user: {},
        paper: {
          text: '',
          date: '',
          title: ''
        },
        thought: {},
        params: {
          client_id: ''
        },
        renderParams: {
          width: 425,
          height: 100,
          longtitle: true,
        },
        titleOptions: {
          placeholder: {
            text: 'Title',
          },
          toolbar: {
              buttons: ['bold', 'italic', 'h1', 'h2', 'h3', 'h4', 'h5', 'quote'],
              allowMultiParagraphSelection: true,
          },
        },
        contentOptions: {
          placeholder: {
            text: 'Content',
          },
          imageDragging: true,
          toolbar: {
              buttons: ['bold', 'italic', 'underline', 'anchor', 'h1', 'h2', 'h3', 'h4', 'h5', 'quote'],
              allowMultiParagraphSelection: true,
          },
          anchor: {
              /* These are the default options for anchor form,
                 if nothing is passed this is what it used */
              customClassOption: 'alink',
              customClassOptionText: 'Button',
              linkValidation: false,
              placeholderText: 'YOYOYO',
              targetCheckbox: false,
              targetCheckboxText: 'Open in new window'
          }
        },
        papers: [],
        deletedPapers: [],
        weekday: [
        "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
        ],
        months: [
        "Jan", "Feb", "Mar", "APR", "MAY", "JUN", "JULY", "AUG", "SEPT", "OCT", "NOV", "DEC"
        ],
        editing: 'none',
        error: null,
        loginPopup: false,
        time: '',
      }
    },
    components: {
      'medium-editor': editor
    },
    methods: {
      onSuccess(googleUser) {
        this.user = googleUser.getBasicProfile();
        localStorage.setItem('googleUser', JSON.stringify(googleUser.getBasicProfile()));
        this.loginPopup = false;
        this.error = false;
      },
      isActive(key) {
        return this.editing != key ? 'inactive' : 'active';
      },
      onFailure() {
        this.error = true;
      },
      logout() {
        this.loginPopup = false;
        this.user = {};
      },
      compiledMarkdown(text) {
        return marked(text, { sanitize: true });
      },
      showPaper(index) {
        document.getElementById('menuToggler').checked = false;
        this.editPaper(index);
      },
      editPaper(index) {
        this.paper = this.papers[index];
        // this.removePaper(index);
        this.editing = index;
      },
      detectAdd() {
        if (event.ctrlKey && event.keyCode == 13) {
          this.addPaper();
        }
      },
      addPaper() {
        let {
          text, title, color
        } = this.paper

        let now = this.moment().format('ddd MMM D, H:m:s a');

        if (this.editing != 'none') {
          this.$delete(this.papers, this.editing)
        }


        this.papers.unshift({
          title,
          text,
          date: now,
        })

        this.editPaper(0);
        //
        // this.paper.title = '';
        // this.paper.text = '';
        // this.editing = 'none';
      },
      removePaper(index) {
        this.deletedPapers.unshift(this.papers[index])
        this.$delete(this.papers, index)
      },
      formatTime(date) {
        return date.hour + ':' + (date.minute > 10 ? date.minute : '0'+date.minute) + ':' + date.seconds
      },
      processEditTextOperation: function (operation) {
        this.paper.text = operation.api.origElements.innerHTML
      },
      processEditHeadOperation: function (operation) {
        this.paper.title = operation.api.origElements.innerHTML
      },
      formatAsPlainText(str) {
          str = str.replace(/\n|\t/g, ' ');
          str = str.replace(/<br>/gi, "\n");
          str = str.replace(/<p>/gi, "\n");
          str = str.replace(/<\/p>/gi, "\n");
          str = str.replace(/<a.*href="(.*?)".*>(.*?)<\/a>/gi, " $2 (Link->$1) ");
          str = str.replace(/<(?:.|\s)*?>/g, "");
          str = str.replace(/<[^>]*>/g, '');
          str = str.replace(/(<([^>]+)>)/ig,"");
          str = str.replace(/\s\s+/g, ' ');

          return str.substring(0, 30);
        },
        restore(key) {
          this.papers.unshift(this.deletedPapers[key]);
          this.$delete(this.deletedPapers, key);
        },
        deleteForever(key) {
          if(this.deletedPapers[key]) {
            this.$delete(this.deletedPapers, key);
          }
          if(this.papers[key]) {
            this.$delete(this.papers, key);
          }
        },
        popup() {
          this.loginPopup = !this.loginPopup;
        },
        newPaper() {
          this.editing = 'none';
          this.addPaper();
          this.trash();
        },
        trash() {
          this.paper.title = '';
          this.paper.text = '';
          this.editing = 'none';
        },
        handleContentEditorCreated() {
        }
      },
      mounted() {
        const vm = this;

        setTimeout(function () {
          let menuToggler = document.getElementById('menuToggler')
          let menuTogglerLabel = document.getElementById('menuTogglerLabel');
          let sidebar = document.getElementById('sidebar');
          let menuItems = document.getElementsByClassName('menu__link');

          menuToggler.addEventListener('change', function() {
            if(menuToggler.checked) {
              menuTogglerLabel.setAttribute('aria-pressed', 'true');
              sidebar.setAttribute('aria-hidden', 'false');
            } else {
              menuTogglerLabel.setAttribute('aria-pressed', 'false');
              sidebar.setAttribute('aria-hidden', 'true');
            }

            for(let menuItem of menuItems) {
              if(menuToggler.checked) {
                menuItem.setAttribute('tabindex', '0');
              } else {
                menuItem.setAttribute('tabindex', '-1');
              }
            }


              vm.thought = quotes.quotes[Math.floor((Math.random()*quotes.quotes.length))];
          });

          vm.thought = quotes.quotes[Math.floor((Math.random()*quotes.quotes.length))];

          window.addEventListener('keydown', function(event) {
            if (event.which == 83 && event.ctrlKey){
              event.stopPropagation();
              event.preventDefault();
              vm.addPaper();
              return;
            }
          });
        }, 2000);


        let interval = setInterval(() => this.time = this.moment().format('ddd, MMMM D | H:mm:ss a'), 1000);

        if (localStorage.getItem('paper')) this.paper = JSON.parse(localStorage.getItem('paper'));
        if (localStorage.getItem('papers')) this.papers = JSON.parse(localStorage.getItem('papers'));
        if (localStorage.getItem('deletedPapers')) this.deletedPapers = JSON.parse(localStorage.getItem('deletedPapers'));

      },
      watch: {
        mode: mode => localStorage.setItem('mode', mode),
        timeFormat: format => localStorage.setItem('timeFormat', format),
        paper: {
            handler() {
                localStorage.setItem('paper', JSON.stringify(this.paper));
            },
            deep: true,
        },
        papers: {
            handler() {
                localStorage.setItem('papers', JSON.stringify(this.papers));
                localStorage.setItem('deletedPapers', JSON.stringify(this.deletedPapers));
            },
            deep: true,
        },
        deletedPapers: {
            handler() {
                localStorage.setItem('papers', JSON.stringify(this.papers));
                localStorage.setItem('deletedPapers', JSON.stringify(this.deletedPapers));
            },
            deep: true,
        },
      }
    }
  </script>


  <style lang="css" scoped>
  </style>
