<template>
    <div>
        <!-- <v-header></v-header> -->
        <v-content></v-content>
        <!-- <v-footer></v-footer> -->
    </div>
</template>

<script>
  // import Header from '../layout/header'
  import Content from '../layout/content'
  // import Footer from '../layout/footer'

  export default {
    components: {
      // 'v-header': Header,
      'v-content': Content,
      // 'v-footer': Footer,
    },
    computed: { },
  }
</script>
