<template>
    <div id="app"
     >
     <!-- v-bind:style="appStyles()" -->
      <router-view/>
      <div class="links-more-button">
        <router-link :to="{ name: 'Paper' }" v-if="currentRouteName != 'Paper'"
          class="more-button paper"><img src="./../static/img/paperwork.svg"/>
          <h4 class="text">Papers</h4>
        </router-link>
        <router-link :to="{ name: 'Pinboard' }" v-if="currentRouteName != 'Pinboard'"
          class="more-button pins"><img src="./../static/img/pinboard.svg"/>
          <h4 class="text">Pins</h4>
        </router-link>
      </div>
      <div class="google-btn" :class="currentRouteName" @click="popup()">
        <template>
          <img v-if="user.UK":src="user.UK" width="45" alt="">
          <img v-else src="./../static/img/google.svg" width="45" alt="">
          <span v-if="user.Ad" style="margin-left: 10px;">{{user.Ad}}</span>
          <span v-else style="margin-left: 10px;">Sign in with Google!</span>
        </template>
      </div>
      <div class="md-modal md-effect-12 md-show" id="md-modal"
        v-if="loginPopup"
        style="
          margin: auto;
          position: fixed !important;
          margin-top: 5rem;
          top: 100px;
          left: 0;
          right: 0;
          width: 50%;
          max-width: 700px;
          min-width: 320px;
          height: auto;
          z-index: 200;
          visibility: visible;
          backface-visibility: hidden;
          /* background: #fff; */
          padding: 45px;
          border: unset !important;
        ">
        <div class="md-content" id="md-content">
          <template v-if="!user.SU">
            <h2>Sign in with &nbsp;
              <span>
                <span style='color: #4885ed'>G</span>
                <span style='color: #db3236'>o</span>
                <span style='color: #f4c20d'>o</span>
                <span style='color: #4885ed'>g</span>
                <span style='color: #3cba54'>l</span>
                <span style='color: #db3236'>e</span>
              </span>
            </h2>
            <div>
              <p><br></p>
              <ul>
                <li><strong>Sign in:</strong> from any remote location.</li>
                <li><strong>Import:</strong> all your pins at one click.</li>
                <li><strong>Forget:</strong> browser extensions.</li>
                <li><strong>Time:</strong> saved ultimately!</li>
              </ul>
              <button class="md-close" @click="popup();"
                style="position: absolute;right: 0;top: 0;"
              ><img src="./../static/img/close.svg" style="" width="30" alt=""></button>
              <p style="margin-top: 45px; display: flex;">
                <span class="popup-info">Signin</span>
                <img src="./../static/img/arrow-right.svg" width="30">
                <span class="popup-info">Click</span>
                <img src="./../static/img/arrow-right.svg" width="30">
                <span class="popup-info">Import</span>
                <img src="./../static/img/import.svg" width="60" style="vertical-align: bottom;">
              </p>
              <p>
                <google-login :params="params" :renderParams="renderParams" :onSuccess="onSuccess" :onFailure="onFailure"></google-login>
              </p>
              <!-- <p v-if="error"><h4 class="error">{{error}}Something went wrong. Please try again later!</h4></p> -->
            </div>
          </template>
          <template v-else>
            <button class="md-close" @click="popup();"
              style="position: absolute;right: 0;top: 0;"
            ><img src="./../static/img/close.svg" style="" width="30" alt=""></button>
            <button class="learn-more logout-btn" @click="logout()">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Logout</span>
            </button>
          </template>
        </div>
      </div>

      <div class="md-overlay" v-if="loginPopup"
        style="
        position: fixed !important;
        max-width: unset !important;
        width: 100%;
        height: 100%;
        visibility: visible;
        margin: 0 !important;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0.95;
        background: rgba(#e4f0e3, 0.8) !important;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        overflow-y: auto;
        "
        >
      </div>
    </div>
</template>

<script>
import { DateTime } from 'luxon';
import GoogleLogin from 'vue-google-login';
import * as config from './config.js';

export default {
    name: 'App',
    data() {
      return {
        mode: 'clock',
        now: DateTime.local(),
        timeFormat: 'hh:mm:ss',
        currentRouteName: null,
        error: null,
        loginPopup: false,
        params: {
          client_id: ''
        },
        user: {},
        renderParams: {
          width: 425,
          height: 100,
          longtitle: true,
        },
      }
    },
    components: {
      'google-login': GoogleLogin
      // 'medium-editor': vueMediumEditor.default
    },
    methods: {
      appStyles() {
          return {
              backgroundColor: `rgb(${this.rgb().r}, ${this.rgb().g}, ${this.rgb().b})`
          };
      },
      clockButtonStyles() {
          return this.mode != 'clock' ? { backgroundColor: 'rgba(255, 255, 255, .5)' } : {};
      },
      hexButtonStyles() {
          return this.mode !='hex' ? { backgroundColor: "rgba(255, 255, 255, .5)" } : {};
      },
      hex() {
          return Object.values(this.rgb).map(
              value => value.toString(16).toUpperCase().padStart(2, '0')
          ).join(':');
      },
      rgb() {
          return {
              r: Math.round(this.now.hour * (255 / 1)),
              g: Math.round(this.now.minute * (255 / 59)),
              b: Math.round(this.now.second * (255 / 59))
          };
      },
      time() {
          return this.now.toFormat(this.timeFormat);
      },
      popup() {
          this.loginPopup = !this.loginPopup;
      },
      onSuccess(googleUser) {
        this.user = googleUser.getBasicProfile();
        localStorage.setItem('googleUser', JSON.stringify(googleUser.getBasicProfile()));
        this.loginPopup = false;
        this.error = false;
      },
      onFailure() {
        this.error = true;
      },
      logout() {
        this.loginPopup = false;
        this.user = {};
      },
    },

    created() {
      let interval = setInterval(() => this.now = DateTime.local(), 1000);
      this.mode = localStorage.getItem('mode') || 'clock';
      this.timeFormat = localStorage.getItem('timeFormat') || 'hh:mm:ss';
      this.currentRouteName = this.$route.name;
    },
    mounted() {
      this.params.client_id = config.clientId;
    },
    computed: {},
    watch: {
       '$route.name': function (id) {
         this.currentRouteName = this.$route.name;
       }
     },
};
</script>
