<template lang="html">
  <div class="content-area">
    <figure class="textarea">
      <figcaption style="width: 100%;">
        <!-- <medium-editor :text='note.text' @keydown="detectAdd(event)" :options='options'
          v-on:edit='processEditOperation' custom-tag='div' style="height: 300px; padding: 30px;"
        ></medium-editor> -->
        <textarea autofocus v-model='note.text' @keydown="detectAdd()"
          placeholder="insert your note..."
        ></textarea>
        <div style="display: flex; background: #fff; justify-content: baseline;">
          <button class="button btn draw-border" @click="addNote">
            pin it!
          </button>
        </div>
      </figcaption>
      <ul id="pin-list">
        <li v-for="(deletedNote, key) in deletedNotes">
          <span v-html="formatAsPlainText(deletedNote.text.replace(/<[^>]*>?/gm, ''))"></span>
          <img src="./../../../static/img/trash.svg" @click="deleteForever(key);" title="Delete forever!" width="15" style="float: right; cursor: pointer; margin-right: 10px;" alt="">
          <img src="./../../../static/img/restore.svg" @click="restore(key);" width="15" title="Restore" style="float: right; cursor: pointer; margin-right: 10px;" alt="">
        </li>
      </ul>
      <small style="position: absolute; bottom: -10px; padding-bottom:45px;"><b>Getting started?</b><br>Visit: <a href="https://www.markdownguide.org/getting-started/" target="_blank">https://www.markdownguide.org/getting-started/</a></small>
    </figure>
    <template v-for="(note, index) in notes" v-if="editing != index">
      <figure>
        <img src="./../../../static/img/pushpin1.svg" width="20" style="z-index:10" alt="" class="pushpin1">
        <img src="./../../../static/img/close.svg" @click="removeNote(index)" class="close" width="30" alt="">
        <img src="./../../../static/img/edit.svg" @click="editNote(index)" class="edit-note" width="30" alt="">
        <div class="date time" v-if="note.date.hour" >
          <img src="./../../../static/img/fast.svg" width="30" alt="">
          {{ formatTime(note.date) }}
        </div>
        <div class="date">
          <span class="card-date-day">{{note.date.day ? note.date.day : ''}}</span>
          <span class="card-date-month">{{note.date.month ? months[note.date.month] : ''}}</span>
        </div>
        <figcaption>
          <div class="content pre" v-html="compiledMarkdown(note.text)"></div>
        </figcaption>
      </figure>
    </template>
    <!-- <span
      v-if="!notes.length"
      style="position: absolute; right: 60px; bottom: 60px;"
      >
      <img src="./../../../static/img/no-pins.gif">
    </span> -->
  </div>

</template>

<script>

export default {
  data() {
    return  {
      title: 'pinboard',
      user: {},
      note: {
        text: '',
        date: ''
      },
      options: {},
      notes: [],
      deletedNotes: [],
      weekday: [
        "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
      ],
      months: [
        "Jan", "Feb", "Mar", "APR", "MAY", "JUN", "JULY", "AUG", "SEPT", "OCT", "NOV", "DEC"
      ],
      editing: 'none',
    }
  },
  methods: {
      compiledMarkdown(text) {
        return marked(text, { sanitize: true });
      },
      editNote(index) {
        this.note = this.notes[index];
        // this.removeNote(index);
        this.editing = index;
      },
      detectAdd() {
        if ((event.ctrlKey && event.keyCode == 13) || (event.which == 83 && event.ctrlKey)) {
          this.addNote();
          event.stopPropagation();
          event.preventDefault();
          return false;
        }
      },
      addNote() {
          let {
              text, title, color
          } = this.note

          let now = {
            weekday: new Date().getDay(),
            day: new Date().getDate(),
            month: new Date().getMonth(),
            year: new Date().getFullYear(),
            hour: new Date().getHours(),
            minute: new Date().getMinutes(),
            seconds: new Date().getSeconds(),
          };

          if (this.editing != 'none') {
            this.$delete(this.notes, this.editing)
          }

          this.notes.unshift({
            text,
            date: now,
          })

          this.note.text = ''
          this.editing = 'none';
      },
      removeNote(index) {
          this.deletedNotes.unshift(this.notes[index])
          this.$delete(this.notes, index)
      },
      formatTime(date) {
        return date.hour + ':' + (date.minute > 10 ? date.minute : '0'+date.minute) + ':' + date.seconds
      },
      processEditOperation: function (operation) {
        this.note.text = operation.api.origElements.innerHTML
      },
      formatAsPlainText(str) {
        str = this.compiledMarkdown(str);
        str = str.replace(/\n|\t/g, ' ');
        str = str.replace(/<br>/gi, "\n");
        str = str.replace(/<p>/gi, "\n");
        str = str.replace(/<\/p>/gi, "\n");
        str = str.replace(/<a.*href="(.*?)".*>(.*?)<\/a>/gi, " $2 (Link->$1) ");
        str = str.replace(/<(?:.|\s)*?>/g, "");
        str = str.replace(/<[^>]*>/g, '');
        str = str.replace(/(<([^>]+)>)/ig,"");
        str = str.replace(/\s\s+/g, ' ');

        return str.substring(0, 25);
      },
      restore(key) {
        this.notes.unshift(this.deletedNotes[key]);
        this.$delete(this.deletedNotes, key);
      },
      deleteForever(key) {
        this.$delete(this.deletedNotes, key);
      },
  },
  mounted() {
      if (localStorage.getItem('notes')) this.notes = JSON.parse(localStorage.getItem('notes'));
      if (localStorage.getItem('deletedNotes')) this.deletedNotes = JSON.parse(localStorage.getItem('deletedNotes'));
      if (localStorage.getItem('googleUser')) this.user = JSON.parse(localStorage.getItem('googleUser'));
  },
  watch: {
      user: {
          handler() {
              if(!this.user.UV) {
                localStorage.setItem('googleUser', '');
              } else {
                localStorage.setItem('googleUser', JSON.stringify(this.user));
              }
          },
          deep: true,
      },
      notes: {
          handler() {
              localStorage.setItem('notes', JSON.stringify(this.notes));
              localStorage.setItem('deletedNotes', JSON.stringify(this.deletedNotes));
          },
          deep: true,
      },
      deletedNotes: {
          handler() {
              localStorage.setItem('notes', JSON.stringify(this.notes));
              localStorage.setItem('deletedNotes', JSON.stringify(this.deletedNotes));
          },
          deep: true,
      },
  }
}
</script>

<style lang="css" scoped>
</style>
